<%= simple_form_for(@slot) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input  :station_id, label: 'Estação' ,collection: Station.all.collect { |p| [p.name, p.id] } , prompt: '' %>
    <%= f.input :name %>
    <%= f.input :qtd %>
    <%= f.input :park %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
