<p id="notice"><%= notice %></p>

<h1>Slots</h1>

<table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Station</th>
        <th>Name</th>
        <th>Park</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <thead>
    <tr>
      
    </tr>
  </thead>

  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <% s = Station.find(slot.station_id) %>
        <td><%= s.name %></td>
        <td><%= slot.name %></td>
        <td><%= slot.park %></td>
        <td><%= link_to 'Show', slot %></td>
        <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
        <td><%= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slot', new_slot_path %>
