<p id="notice"><%= notice %></p>

<p>
  <strong>Station:</strong>
  <%= @slot.station_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @slot.name %>
</p>

<p>
  <strong>Park:</strong>
  <%= @slot.park %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
