<p id="notice"><%= notice %></p>

<h1>Stations</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.name %></td>
        <td><%= station.latitude %></td>
        <td><%= station.longitude %></td>
        <td><%= station.active %></td>
        <td><%= link_to 'Vis.', station %></td>
        <td><%= link_to 'Edit.', edit_station_path(station) %></td>
        <td><%#= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <thead>
    

  
</table>

<br>

<%= link_to 'Nova Estação', new_station_path %>
