<p id="notice"><%= notice %></p>

<h1>Titulos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @titulos.each do |titulo| %>
      <tr>
        <td><%= titulo.titulo %></td>
        <td><%= link_to 'Show', titulo %></td>
        <td><%= link_to 'Edit', edit_titulo_path(titulo) %></td>
        <td><%= link_to 'Destroy', titulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Titulo', new_titulo_path %>
