<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <% if admin_signed_in? %>
                <%= @admin = current_admin.email %>
                  <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'nav-link' %> |
                  <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'nav-link'  %>
                <li class="nav-item">
                <%= link_to 'Vagas', slots_path, :class => 'nav-link' %>
                </li>
                <li class="nav-item active">
                    <%= link_to 'Estações', stations_path, :class => 'nav-link' %>
                </li>
                  <% else %>
                <li class="nav-item active">
                    <%= link_to "Cad. Admin", new_admin_registration_path, :class => 'nav-link'  %> |
                </li>  
                <li class="nav-item active">
                  <%= link_to "Login", new_admin_session_path, :class => 'nav-link'  %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
