<!DOCTYPE html>
<html>
  <head>
    <title>Tembike</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= render partial: '/menu' %>
    
    
    

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
              <br><br><br><br><br><br>
                <%= yield %>
            </div>
        </div>
    </div>
  </body>
</html>
